:root
{
    background-color: white;
    color: black;
    padding: 0px 25px;
    font-family: 'Noto Serif', serif;
}

body
{
    max-width: 900px;
    margin: auto;
    padding-bottom: 50px;
}

a
{
    color: unset;
}

.blog-title
{
    font-size: 35pt;
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
    text-decoration: none;
    color: unset;
}

main
{
    margin-top: 25px;
}

.index
{
}

.article
{
    text-align: justify;
}

a.article
{
    display: block;
    text-decoration: none;
    color: unset;
    border: 1px solid #666;
    padding: 10px;
    margin-bottom: 20px;
    max-height: 200px;
    overflow-y: hidden;
}

a.article:hover
{
    background-color: black;
    color: white;
}

main.article
{

}

.article *:first-child
{
    margin-top: 0px;
}

.article img
{
    margin: auto;
    display: block;
}

.error
{
    text-align: center;
}

.error-code
{
    display: block;
    font-size: 400px;
    line-height: 400px;
}

.error-message
{
    display: block;
    font-size: 25px;
    line-height: 25px;
}

.error a.home
{
    display: block;
    color: unset;
    margin-top: 25px;
}

footer
{
    text-align: center;
}