<html>

<head>
    {% if blog_title != none %}
    <title>{{blog_title}}</title>
    {% else %}
    <title>Blog</title>
    {% endif %}
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config(
            {
                elements: document.querySelectorAll(".article"),
                tex2jax: {
                    inlineMath: [['$','$']],
                    processEscapes: true
                }
            }
        );
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>        
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
{% if blog_title != none %}
<a class="blog-title" href="/">{{blog_title}}</a>
{% endif %}
{% block body %}
{% endblock %}
<body>

</html>