{% extends "base.jinja" %}

{% block body %}
<div class="index">
    {% for slug in articles %}
        <a href="/{{slug}}" class="article">
            {{slug}}
        </a>
    {% endfor %}
</div>
{% endblock body %}