{% extends "base.jinja" %}

{% block body %}
<div class="index">
    {% for article in articles %}
        <a href="/{{article.slug}}" class="article">
            {{article.content}}
        </a>
    {% endfor %}
</div>
{% endblock body %}