<html>

<head>
<title>Blogka</title>
<link rel="stylesheet" href="/style.css" />
</head>

<body>
<div class="error">
    <span class="error-code">{{error_code}}</span>
    <span class="error-message">{{error_message}}</span>
    <a class="home" href="/">Home</a>
</div>
</body>

</html>