<html>

<head>
{% if blog_title != none %}
<title>{{blog_title}}</title>
{% else %}
<title>Blog</title>
{% endif %}
<link rel="stylesheet" href="{{url_for("stylesheet")}}">
</head>

<body>
<div class="error">
    <span class="error-code">{{error_code}}</span>
    <span class="error-message">{{error_message}}</span>
    <a class="home" href="/">Home</a>
</div>
</body>

</html>